@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(222.2 84% 4.9%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(222.2 84% 4.9%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2 84% 4.9%);
    --primary: hsl(140, 33%, 46%);
    --primary-foreground: hsl(210 40% 98%);
    --secondary: hsl(210 40% 96%);
    --secondary-foreground: hsl(222.2 84% 4.9%);
    --muted: hsl(210 40% 96%);
    --muted-foreground: hsl(215.4 16.3% 46.9%);
    --accent: hsl(210 40% 96%);
    --accent-foreground: hsl(222.2 84% 4.9%);
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(210 40% 98%);
    /* --border: hsl(214.3 31.8% 91.4%); */
    --border: hsla(215, 31%, 14%, 0.092);

    --input: hsl(214.3 31.8% 91.4%);
    --ring: hsl(221.2 83.2% 53.3%);
    --radius: 0.5rem;
    --sidebar-background: hsl(0 0% 98%);
    --sidebar-foreground: hsl(240 5.3% 26.1%);
    --sidebar-primary: hsl(240, 47%, 25%);
    --sidebar-primary-foreground: hsl(0 0% 98%);
    --sidebar-accent: hsl(240 4.8% 95.9%);
    --sidebar-accent-foreground: hsl(240 5.9% 10%);
    --sidebar-border: hsl(220 13% 91%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
  }

  .dark {
    --background: hsl(0, 2%, 8%);
    --foreground: hsl(210 40% 98%);
    --card: hsl(240, 7%, 11%);
    --card-foreground: hsl(210 40% 98%);
    --popover: hsl(240, 6%, 12%);
    --popover-foreground: hsl(210 40% 98%);
    --primary: hsl(140, 33%, 46%);
    --primary-foreground: hsl(222.2 84% 4.9%);
    --secondary: hsl(217.2 32.6% 17.5%);
    --secondary-foreground: hsl(210 40% 98%);
    --muted: hsl(217.2 32.6% 17.5%);
    --muted-foreground: hsl(215 20.2% 65.1%);
    --accent: hsl(217.2 32.6% 17.5%);
    --accent-foreground: hsl(210 40% 98%);
    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(210 40% 98%);
    --border: hsla(0, 0%, 100%, 0.093);
    /* --border: hsl(217.2 32.6% 17.5%); */

    --input: hsl(217.2 32.6% 17.5%);
    --ring: hsl(224.3 76.3% 94.1%);
    --sidebar-background: hsl(240 5.9% 10%);
    --sidebar-foreground: hsl(240 4.8% 95.9%);
    --sidebar-primary: hsl(224.3 76.3% 48%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(240 3.7% 15.9%);
    --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
    --sidebar-border: hsl(240 3.7% 15.9%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}



/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

*::-webkit-scrollbar-track {
  border-radius: 9px;
  background-color: var(--primary);
  border: 3px solid var(--sidebar-background);
}

*::-webkit-scrollbar-track:hover {
  background-color: #dfdfdf24;
}

*::-webkit-scrollbar-track:active {
  background-color: #dfdfdf66;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #3caf5b;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #44c466;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #2c8143;
}
